mixin twitter()
  +b.SECTION#review.twitter
    +e.DIV.container
      +e.IMG.img(src="img/twitter.png")
      +b.DIV.twitter-post
        +e.P.text <span>#PaymeApp</span> win Apple Design Award! Big thanks to <span>@DigitalStudio!</span> 
                  <br>They are aggressive in trying out new technologies and new design 
                  <br>techniques. The best guys I've worked with.
        +e.DIV.file
          +e.IMG.photo(src="img/twitter1.png")
          +e.DIV.info
            +e.H5 Frank Underwood
            +e.P @PresidentFrank
