mixin footer()
  +b.SECTION#contacts.footer
    +e.DIV.container
      +b.DIV.footer-info
        +e.IMG.logo(src="img/Logo.png")
        +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
                  <br>tempor.incididunt ut labore et dolore magna aliqua. 
      +b.A.footer-btn(href="#") CONTACT US
      +b.DIV.footer-copyrights
        +e.P.copyright Copyright © 2015.<span> LUNA STUDIO. </span>All rights reserved.
        +e.P.design DESIGNED with BY<span>SYMU.CO</span>
