mixin slider()
  +b.SECTION#slider
    +b.DIV.slides
      +e.IMG.img(src="img/about1.jpg")
      +e.IMG.img(src="img/about2.jpg")
      +e.IMG.img(src="img/about1.jpg")
      +e.IMG.img(src="img/about3.jpg")
      +e.IMG.img(src="img/about4.jpg")  
    +e.DIV#prevSlide 
    +e.DIV#nextSlide 
      
    
    
